// Decorations
.mdev-sexy-line {
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: -1;

  @media #{$portrait} {
    width: 300%;
    left: -100%;
  }
  @media #{$phone-only} {
    width: 900%;
    left: -400%;
  }
  @media #{$tablet-lnd-only} {
    width: 300%;
    left: -100%;
  }
}

.--sexy-white {
  background: $white;
  opacity: .4;

  @media #{$portrait} {
    opacity: .15;
  }
}

.--sexy-green {
  background: $color-brand-primary;
  opacity: .5;

  @media #{$portrait} {
    opacity: .25;
  }
}

.mdev-box-dec {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: 4px solid $color-brand-accent;

  @media #{$landscape} {
    border-right: none;
  }
}

.mdev-frame-dec {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: 4px solid $color-brand-accent;
}


// Title Decoration box overrides
// These overrides are for the service section
// green boxes behind the titles
//
/* stylelint-disable */
// Targeting Standard version of the flip module
.mdev-featured-services .mdev-service-title {
  &[ data-dec="anc-cloud" ]:before {
    top: 40%!important;
  }
}

.mdev-featured-services .mdev-service-title {
  &[ data-dec="anc-logos" ]:before {
    right: 48%;
    top: 15%;
  }
  &[ data-dec="anc-ecomm" ]:before,
  &[ data-dec="anc-packaging" ]:before {
    top: 15%;
    right: 63%;
  }
  &[ data-dec="anc-paid" ]:before,
  &[ data-dec="anc-social" ]:before {
    right: 65%;
    bottom: -10px;
  }

}
// Targetting flipped version of the service module
.mdev-featured-services .mdev-featured-wrapper.\--flip-order .mdev-service-title {
  &[ data-dec="anc-print" ]:before {
    left: 35%;
    top: 15%;
  }
  &[ data-dec="anc-launch" ]:before,
  &[ data-dec="anc-webdev" ]:before {
    left: 13%;
    top: -30px;
  }
  &[ data-dec="anc-appdev" ]:before {
    left: 36%;
  }
}
// No Image Flipped
.mdev-featured-services.--no-image .mdev-featured-wrapper.\--flip-order .mdev-service-title {
  &[ data-dec="anc-seo" ]:before {
    left: 42%;
  }
  &[ data-dec="anc-email" ]:before,
  &[ data-dec="anc-consulting" ]:before {
    left: 43%;
  }
  &[ data-dec="anc-startup" ]:before {
    left: 34%;
  }
}

// No Image Regular
.mdev-featured-services.--no-image .mdev-service-title {

}
/* stylelint-enable */

