/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 320px;

  @media #{$tablet-only} {
    max-width: 800px;
  }

  @media #{$laptop-up} {
    max-width: 1300px;
  }

  @media #{$xl-up} {
    max-width: 1500px;
  }
}


.--section-space {
  margin-top: 150px;
  margin-bottom: 150px;
}

.--section-space-btm {
  margin-bottom: 150px;
}

// Spacing Modifiers
.--space-top-sm {
  margin-top: 50px;
}

