/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 320px;

  @media #{$tablet-only} {
    max-width: 800px;
    width: 80%;
  }

  @media #{$laptop-up} {
    max-width: 1300px;
  }

  @media #{$xl-up} {
    max-width: 1500px;
  }
}

// Section Types
.mdev-full-section {
  width: 100%;
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}

.mdev-split {
  width: 100%;
  position: relative;
  flex-wrap: nowrap;

  @media #{ $portrait } {
    flex-wrap: wrap;
  }
}

// Spacing Modifiers
.--section-space-top {
  margin-top: 150px;
}

.--section-space {
  margin-top: 150px;
  margin-bottom: 150px;
}

.--section-pad {
  padding-top: 150px;
  padding-bottom: 150px;
}

.--section-space-btm {
  margin-bottom: 150px;
}

.--space-top-sm {
  margin-top: 50px;
}

.--space-top-xs {
  margin-top: 25px;
}

// Triangle Clip Path
.--triangle-bottom {
  clip-path: $clip-triangle-bot;
}

.--triangle-bottom-r {
  clip-path: $clip-triangle-bot-reverse;
}

.--triangle-top {
  clip-path: $clip-triangle-top;
}

// Pull Up | Down
.--pull-up-section {
  padding-top: 350px;
  margin-top: -200px;
  z-index: 0;
  position: relative;

}
// Background Modifier
.--primary-bkg {
  background: $color-brand-primary;
}

.--accent-bkg {
  background: $color-brand-accent;
}
