/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes
.mdev-main-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 290px;

  @media #{$laptop-up} {
    width: 80%;
  }
}

// Feature wrapper to keep things centered
.mdev-featured-wrapper {
  width: 91%;
  margin: 0 0 0 9%;

  @media #{$laptop-only} {
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
  }

  @media #{$portrait} {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }

  @media #{$phone-only} {
    width: 100%;
  }
}

// Section Types
.mdev-full-section {
  width: 100%;
  position: relative;
  padding: 150px 0;
  overflow: hidden;

  @media #{$portrait} {
    padding: 50px 0;
  }
}

.mdev-split {
  width: 100%;
  position: relative;
  flex-wrap: nowrap;

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}

// Spacing Modifiers
.--section-space-top {
  margin-top: 150px;

  @media #{$portrait} {
    margin-top: 50px;
  }
}

.--featured-space {
  margin-top: 200px;
  margin-bottom: 200px;

  @media #{$portrait} {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @media #{$laptop-only} {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @media #{$tablet-prt-only} {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media #{$phone-only} {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.--section-space {
  margin-top: 150px;
  margin-bottom: 150px;

  @media #{$portrait} {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.--section-space-m {
  margin-top: 75px;
  margin-bottom: 75px;

  @media #{$portrait} {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}



.--section-pad {
  padding-top: 150px;
  padding-bottom: 150px;

  @media #{$portrait} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.--section-space-btm {
  margin-bottom: 150px;

  @media #{$portrait} {
    margin-bottom: 50px;
  }
}

// Spacing Units
$uxs: 15px;
$xs: 25px;
$sm: 50px;
$md: 75px;

.--space-top-md {
  margin-top: $md;

  @media #{$phone-only} {
    margin-top: $sm;
  }
}

.--space-top-sm {
  margin-top: $sm;

  @media #{$phone-only} {
    margin-top: $xs;
  }
}

.--space-top-xs {
  margin-top: $xs;

  @media #{$phone-only} {
    margin-top: $uxs;
  }
}

.--space-left-xs {
  margin-left: $xs;
}

.--space-right-xs {
  margin-right: $xs;
}

.--space-left-sm {
  margin-left: $sm;
}

.--space-right-sm {
  margin-right: $sm;
}

.--space-lr-sm {
  margin-right: $xs;
  margin-left: $xs;
}

// Flex Modifiers

.--portrait-wrap {
  flex-wrap: nowrap;

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}

.--phone-center {
  @media #{$phone-only} {
    justify-content: center;
  }
}

// Triangle Clip Path
.--triangle-bottom {
  clip-path: $clip-triangle-bot;

  @media #{ $portrait } {
    clip-path: $clip-triangle-bot-prt;
  }
}

.--triangle-bottom-r {
  clip-path: $clip-triangle-bot-reverse;

  @media #{ $portrait } {
    clip-path: $clip-triangle-bot-reverse-prt;
  }
}

.--triangle-top {
  clip-path: $clip-triangle-top;

  @media #{ $portrait } {
    clip-path: $clip-triangle-top-prt;
  }
}


.--triangle-top-r {
  clip-path: $clip-triangle-top-reverse;

  @media #{ $portrait } {
    clip-path: $clip-triangle-top-reverse-prt;
  }
}

// Pull Up | Down
.--pull-up-section {
  padding-top: 350px;
  margin-top: -250px;
  z-index: 0;
  position: relative;
}
// Background Modifier
.--primary-bkg {
  background: $color-brand-primary;
}

.--accent-bkg {
  background: $color-brand-accent;
}

// SHow Hide
.--portrait {
  display: none;

  @media #{$portrait} {
    display: block;
  }
}

.--landscape {
  display: none;

  @media #{$landscape} {
    display: block;
  }
}

// Position reference div
.--pos-reference {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

// Member - Founder
.--team {
  span {
    display: block;
  }

  .--name {
    font-size: 28px;
    margin: 20px 0 10px;
    letter-spacing: .56px;

    @media #{$laptop-only} {
      font-size: 20px;
    }

    @media #{$tablet-lnd-only} {
      font-size: 15px;
    }

    @media #{$tablet-prt-only} {
      font-size: 22px;
    }
  }

  .--title {
    font-size: 20px;
    letter-spacing: .4px;

    @media #{$laptop-only} {
      font-size: 15px;
    }

    @media #{$tablet-lnd-only} {
      font-size: 12px;
    }

    @media #{$tablet-prt-only} {
      font-size: 18px;
    }
  }
}


