/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #13b2a9;
$color-brand-accent: #c2ec2f;
$color-brand-bkg: #0f1618;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;


// Main Font
$main-font: 'Roboto', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables
$nav-padding: 8px 1% 0 1%;
$nav-padding-prt: 12px 3% 0 3%;
$nav-side-padding: 20px;
// Button Variables

// Radius Variables
$standard-radius: 4px;

//Clipping Paths

$clip-triangle-bot: polygon(50% 0%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
$clip-triangle-top: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
$clip-triangle-bot-reverse: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
$clip-triangle-bot-prt: polygon(50% 0%, 100% 0, 100% 100%, 50% 96%, 0 100%, 0 0);
$clip-triangle-top-prt: polygon(50% 4%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
$clip-triangle-bot-reverse-prt: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
